@media screen and (min-width : 576px){
.svg__img{
    width: 100%;
}

.home , .about, .sopport{
    padding-top: 7rem;
}


    .home__container , .about__container ,.sopport__container , .services__container , .contact__container,.footer__container {
        grid-template-columns: repeat(2 , 1fr);
        justify-content: center;
    }
    .home__img ,.sopport__img {
        order: 1;
    }

    .about__title {
        text-align: right;
    }

    .contact__info{
        
    padding-top: 3.5rem;
}
}

@media screen and (min-width : 767px){
    .nav{
        &__list {
            flex-direction: row;
            column-gap: 2.5rem;
        }
    
        &__toggle{
            display: none;
        }
    }

    .contact__info  {
        
        padding-top: 5rem;
}


    
    }

@media screen and (min-width : 992px){
    .svg__img{
        width: 500px;
    }
    

.container{
    width: 95vw;
}


    .button__header{
            display: block; 
            padding: 0.5rem 1.5rem;
    }

    .services__container , .contact__container {
        grid-template-columns: repeat(3 , 1fr);
    }

    .footer__container{
        grid-template-columns: repeat(4 , 1fr);
    }
      

    .contact__info  {
        
        padding-top: 5rem;
}

.contact__button{
   margin-top: 6rem;
}
}

@media screen and (min-width : 800px){


    h1{
        font-size: 3rem;
    }
    
    h2{
        font-size: 2.5rem;
    }
    
    h3{
        font-size: 1.75rem;
    }
    
    h4{
    font-size: 1rem; 
    }


    
}